// Colores principales
$purple: #6b46c1;
$purple-light: #9f7aea;
$purple-dark: #553c9a;
$white: #ffffff;

// Importar Bulma CSS
@import 'bulma/css/bulma.css';

// Estilos del Navbar
.navbar.is-primary {
  background-color: $purple;

  .navbar-brand {
    .navbar-item {
      color: $white;
      
      &:hover {
        background-color: $purple-dark !important;
        color: $white;
      }
    }
  }

  .navbar-menu {
    background-color: $purple;

    .navbar-item {
      color: $white;
      
      &:hover {
        background-color: $purple-dark !important;
        color: $white;
      }
      
      &.router-link-active {
        background-color: $purple-dark !important;
        color: $white;
      }
    }
  }

  .navbar-burger {
    color: $white;
    
    &:hover {
      background-color: $purple-dark;
    }

    span {
      background-color: $white;
    }
  }
}

// Resto de los estilos
.button.is-primary {
  background-color: $purple;
  &:hover {
    background-color: $purple-dark;
  }
}

.card {
  border-radius: 8px;
  background-color: $white;
  border: 1px solid rgba($purple, 0.1);
  transition: transform 0.2s ease;
  
  &:hover {
    transform: translateY(-2px);
  }
}

.tag.is-primary {
  background-color: $purple;
  color: $white;
}

.tag.is-info {
  background-color: $purple-light;
  color: $white;
}

body {
  background-color: $white;
} 